@{
    ViewData["Title"] = "Index";
}

@model InventoryManagement.Models.ItemsViewModel
<div class="row">
    <div class="col-10">
        <form method="post">
            <!-- Input and Submit elements -->

            @foreach (var item in Model.Items)
            {
                <div class="form-group row itemRow p-1">
                    <div class="col">
                        <label for="txtName">Name</label>
                        <input type="text" class="form-control" id="txtName" placeholder="Name" name="Name" value="@item.Name">
                    </div>
                    <div class="col">
                        <label for="txtSellIn">Sell In</label>
                        <input type="number" class="form-control" id="txtSellIn" placeholder="Sell In" name="SellIn" value="@item.SellIn">
                    </div>
                    <div class="col">
                        <label for="txtQuality">Quality</label>
                        <input type="number" class="form-control" id="txtQuality" min="0" placeholder="Quality" name="Quality" value="@item.Quality">
                    </div>
                    <div>
                        <label for="txtResult">Result</label>
                        <input type="text" class="form-control" id="txtResult" disabled name="Result" value="">
                    </div>
                </div>
            }
            <button id="btnPost" class="btn btn-primary float-right">Update</button>
        </form>


    </div>

    
</div>

<script>

    var url = '@Url.Action("Update", "Home")';

    $("#btnPost").click(function(e) {
        e.preventDefault();
        var items = [];
        $('.itemRow').each(function (item) {
            items.push({
                'Name': $(this).find("input[name='Name']").val(),
                'SellIn': $(this).find("input[name='SellIn']").val(),
                'Quality': $(this).find("input[name='Quality']").val()
            });
        });
        
            $.ajax({
                type: "POST",
                url: url,
                data: JSON.stringify(items),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {

                    $('.itemRow').each(function(index) {
                        $(this).find("input[name='Result']").val(response[index]);
                    });
                },
                failure: function(response) {
                    alert(response.responseText);
                },
                error: function(response) {
                    alert(response.responseText);
                }
            });
    });
</script>